#header-well{
  margin-bottom: 0;
}

#body-well{
  padding-top: 0;
  background-color: white;
  margin-bottom: 0;
}

.show-previous-link-text{
  text-align: center;  
}

.messages-index-avatar{
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.message-avatar{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

